@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

/* GRID CONFIG STYLES */

.gridContainer {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.gridItem {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  height: 600px;
}

@media (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
/* TOP CARD STYLES */
.topCardContainer {
  background-color: blue;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.number {
  font-size: 180px;
}
/* BOTTOM CARD STYLES */

.bottomCard {
  background-color: purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  align-items: center;
}

.sectionDescription {
  text-align: left;
}

.sectionTitle {
  font-size: 34px;
  font-weight: 500;
}

.sectioSubtitle {
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
}
